<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加老师</title>
</head>
<body>
<div id="app">
    <h2>添加老师</h2>
    <div class="form-group">
        <label for="id">编号：</label>
        <input type="text" v-model="newPerson.name"/>
        <span>{{nameTip}}</span>
    </div>
    <div class="form-group">
        <label for="name">姓名：</label>
        <input type="text" v-model="newPerson.name"/>
        <span>{{nameTip}}</span>
    </div>
    <div class="form-group">
        <label >性别：</label>
        <input type="text" v-model="newPerson.step"/>
        <span>{{stepTip}}</span>
    </div>
    <div class="">
        <button @click="createPerson">添加老师</button>
    </div>
</div>
<script>

</script>
</body>
</html>